h2{
    color: rgb(146, 14, 14);
}
h1{
    color: brown;
    background-color:yellowgreen;
    text-align: center;
    background-size: contain;
    font-family: arial;
}
p{
    color: teal;
}
/*dif id y class id 1 elemento x id - class puede haber varias */
.destacados { /* . llama class del html*/
    color: rgb(14, 118, 209);
    font-size: 22px;
font-style: italic;
font-weight: bold;
}

#rojo{ /* # llama id del div en html*/
    width: 300px; /*ancho*/
    height: 400px; /*alto*/
    background-color: lightcoral; /*color fondo*/
    text-align: center; /*alinear texto*/
    margin-left: 50px;/* margen externo */
    margin-bottom: 50px;
    border: 5px solid black; /* grosor - tipo - color */
    box-sizing: border-box;
}
#celeste{
    width: 300px; /*ancho*/
    height: 400px; /*alto*/
    background-color:aqua; /*color fondo*/
    padding: 20px; /*margen interno*/
    box-sizing: border-box;
    border-right: 5px dashed #ff000f;
}



/*regla de css
h2 >tipo de selector : etiqueta
propiedades y sus valores
*/
