.caja{
    background-color: yellow;
    width: 300px;
    height: 300px;
    margin: 100px;
    box-shadow: 20px 30px 10px black;
}
    .caja2{
    
        width: 300px;
        height: 300px;
        padding: 10px;
         border: 3px solid black;
        border-radius: 15%;
}

.texto{
    background-color: yellow;
    column-count: 3;
    column-gap: 50px;
    margin-top: 0;
   }
.texto p{
    margin: 0;
}