/* CLASE 7 TRANSFORMACIONES Y  TRANSICIONES*/


.caja{
    width: 300px;
    height: 150px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 100px;
    border-radius: 30px;
    transition: all 0.5s ease 0s; /* transicion siempre en elemento base */
    
 
}

/* :HOVER - CUANDO PASA EL CURSOR APLICA PROP */
 .caja:hover{
    transform: scale(1.2);
    cursor: pointer;
    background-color: aquamarine;
    animation: rectangulo 2s ease ;   /* ANIMACIÓN @KEYFRAMES NOMBREANIMACION */
    animation-fill-mode:backwards; /* ANIMATION FILL MODE DEJA EN X ESTADO CUANDO TERMINA LA ANIMACIÓN */
    animation-iteration-count: infinite; /* CUANTAS VECES SE GENERA LA ANIM. */
}   

@keyframes rectangulo {  /* CONFIGURACIÓN DE LA ANIMACIÓN */
    15%{
        background-color: red;

    }   35%{
        font-size: 30px;
        color: aliceblue;
        background-color: rgb(113, 28, 28);
        transform: rotate(30deg);
    }   50%{
        background-color: rgb(60, 40, 142);
        transform: rotate(60deg);
        
    }   65%{
        background-color: rgb(130, 138, 221);
        transform: rotate(90deg);
    }   85%{
        background-color: rgb(28, 171, 9);
        transform: rotate(1200deg);
    }   100%{
        background-color: rgb(178, 198, 26);
        transform: rotate(180deg);
    }
}

