.contenedor{
    background-color: gray;
    width: 60%;
    margin: 0 auto;  
    height: 600px;
    position: relative;
      }

    .verde{
        background-color: lightseagreen;
        width: 90%;
        margin: 0 auto 20px;
        height: 150px;
       position: absolute;/* posicionamiento absoluto se mide con respecto a un elemento con posicionamiento relativo - el elemento pos.rel. nato es la etiqueta <body>  */
       top: 0;
       left: 0;
    }
    .celeste{
        background-color: lightskyblue;
        width: 90%;
        margin: 0 auto 20px; 
        height: 150px;
    }
    .amarillo{
        background-color: lightyellow;
        width: 90%;
        margin: 0 auto 20px; 
        height: 150px;
    }
    



    
